* {
  box-sizing: border-box;
}
body {
 font-family: "Lucida Console", "Courier New", monospace;
}
#email,#psw {
	 width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
 .loginbtn{
 	background-color: purple;
 	color: white;
 	 padding: 16px 20px;
	 margin: 8px 0;
	 border: none;
	 cursor: pointer;
	 width: 100%;
	 opacity: 0.9;
 }
 .container {
 	width: 50%;
 	text-align: center;
 	float: left;
 }
 img{
 	color: purple;
 	width: 30%;
 	margin: 10px 10px;
 }