<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sample CV</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/stylesheet.css'>
</head>
<body>
    <h1>Mohammed AbuMeizer</h1>
    <img>
    <h3>hobbies</h3>
    <ul>
        <li>sport</li>
        <li>nothing</li>
        <li>Love</li>
    </ul>
    <h3>Skills</h3>
    <ul>
        <li>write</li>
        <li>talk</li>
        <li>walk</li>
    </ul>
    <h3>strength</h3>
    <ul>
        <li>None</li>
        <li>None</li>
        <li>None</li>
    </ul>
    <h3>weakness</h3>
    <ul>
        <li>1-5</li>
        <li>5-10</li>
        <li>15-5</li>
    </ul>
</body>
</html>