@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}
ul {
	margin-left: auto;
}
.jim{
	padding: 10em;
	opacity: 1.5;
}

li a { color: white;
	}div h1,div p {
	color: black;
}
.containe {

  position: relative;
  color: white;
}
.centere {
  position: absolute;
  top: 0;
  left: 0;
transform: translate(0%, -10%);
}
div img {
	height: 28em;
	width: 100%;
	opacity: 0.8;
  	}
.imag {
	  width: 300px;
	  height: 300px;
	  border-top-left-radius: 50% 50%;
	  border-top-right-radius: 50% 50%;
	  border-bottom-right-radius: 50% 50%;
	  border-bottom-left-radius: 50% 50%;

}
.imags {
	  width: 10em;
	  height: 10em;
	  border: 1px solid ;
}
h2{
	text-align: center;
}
.box {
    padding: 10px 10px 10px 10px;
}

button{
	background-color: tomato;
}